h1{
    text-align: center;
    color: white  !important;
}
body{
    background-image: url(img/heavy\ metal.jpg );
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white !important;
}


p{
    color: black !important;
}